process {
    withName: SEQUENZAUTILS_GCWIGGLE {
        publishDir  = [
            mode: params.publish_dir_mode,
            path:  "${params.outdir}/Homo_sapiens/sequenza/wiggle/",
            pattern: "*wig.gz"
        ]
    }

    // withName: SEQUENZAUTILS_RSEQZ {
    //     publishDir = [
    //         mode: params.publish_dir_mode,
    //         path: { "${params.outdir}/${meta.patient}/${meta.id}/${params.seq_type}/sequenza/" },
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

    // withName: SEQUENZAUTILS_BAM2SEQZ {
    //     publishDir = [
    //         enabled : false
    //     ]
    // }

    withName: SEQUENZAUTILS_MERGESEQZ {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/${meta.patient}/${meta.id}/bam2seqz/" },
            pattern : '*{gz,tbi}'
        ]
    }

    withName: SEQUENZAUTILS_BINNING {
        ext.args   = "-w ${params.bin}"
    }

}