process {
    withName: SEQUENZAUTILS_GCWIGGLE {
        publishDir  = [
            mode: params.publish_dir_mode,
            path:  "${params.outdir}/Homo_sapiens/sequenza/wiggle/",
            pattern: "*wig.gz"
        ]
    }

    withName: SEQUENZAUTILS_RSEQZ {
        publishDir  = [
            mode: params.publish_dir_mode,
            path:  { "${params.outdir}/${meta.patient}/${meta.id}/sequenza/" },
            pattern: '*{txt,pdf,Rdata}'
        ]
    }

    withName: SEQUENZAUTILS_MERGESEQZ {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/${meta.patient}/${meta.id}/bam2seqz/" },
            pattern : '*{gz,tbi}'
        ]
    }

    withName: SEQUENZAUTILS_BINNING {
        ext.args   = "-w ${params.bin}"
    }

}