nextflow.enable.dsl=2
cleanup=true

env {
     SINGULARITY_TMPDIR="/orfeo/cephfs/fast/cdslab/${USER}/tmp"
}


singularity {
     enabled = true
     singularity.cacheDir = "/orfeo/cephfs/scratch/cdslab/shared/containers/singularity/sarek_tumourevo"
     runOptions = "--contain --workdir \${SINGULARITY_TMPDIR} --writable-tmpfs"
     envWhitelist = 'SINGULARITY_TMPDIR'
}

executor {
    name='slurm'
    queueSize = 40
    queue='EPYC' //add the conditional queue based on resource
}

process{
   executor='slurm'
   queue='EPYC'
   account='cdslab'
   queueSize = 40
   errorStrategy = 'retry'
   maxRetries = 3 
   time = 6.h
   cpus = 4
   memory = 10.GB
}

plugins {
  id 'nf-validation'
}
