nextflow.enable.dsl=2
cleanup=true


singularity {
   enabled = true
   envWhitelist = "SINGULARITY_TMPDIR"
   singularity.runOptions = '--bind /orfeo:/orfeo --contain --workdir \${SINGULARITY_TMPDIR}'
   cacheDir = "$NXF_SINGULARITY_CACHEDIR"  // need to be defined in your bashrc
}

process {
    resourceLimits = [
        memory: 1536.GB,
        cpus: 36,
        time: 150.h
    ]
    executor='slurm'
    queue='THIN'
    queueSize = 40
    account='cdslab'
    errorStrategy = 'retry'
    maxRetries = 3
    time = 6.h
    cpus = 4
    memory = 10.GB
    beforeScript="source /orfeo/cephfs/fast/cdslab/\${USER}/prolog.sh"
    afterScript="source /orfeo/cephfs/fast/cdslab/\${USER}/epilog.sh"
}

executor {
    queueSize = 40
    submitRateLimit = '1sec'
    pollInterval = '1s'
}

process {
   withName: 'GATK4_MARKDUPLICATES|GATK4_MARKDUPLICATESSPARK' {
      cpus           = 24
      memory         = 200.GB
      time           = 24.h
   }
   withName: 'STRELKA_SOMATIC|MUTECT2_PAIRED' {
      cpus            = 24
      memory          = 128.GB
      time            = 48.h
   }
  withName: 'CNVKIT_BATCH' {
      cpus            = 12  
   }
  withName: 'MERGE_CRAM|SAMTOOLS_STATS' {
      cpus            = 8
   }
  withName: 'GATK4_APPLYBQSR' {
      time            = 6.h
   }
}

params {
  // sarek parameters
  igenomes_base = "/orfeo/LTS/CDSLab/LT_storage/tmp_references"
  aligner = "bwa-mem2"
  fasta = "/orfeo/LTS/CDSLab/LT_storage/tmp_references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
  genome = "GATK.GRCh38"

  // tumourevo parameters
  drivers_table = "https://raw.githubusercontent.com/nicola-calonaci/test-datasets/evoverse/data/DRIVER_ANNOTATION/ANNOTATE_DRIVER/Compendium_Cancer_Genes.tsv"
}

plugins {
  id 'nf-validation'
}
